function GameScreen.new 0
push constant 12
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 11
push constant 512
pop this 0
push constant 256
pop this 1
push constant 40
pop this 2
push this 0
push constant 2
call Math.divide 2
push constant 1
sub
push this 2
push constant 2
call Math.divide 2
sub
pop this 3
push this 1
push constant 2
call Math.divide 2
push constant 1
sub
push this 2
sub
push this 2
push constant 2
call Math.divide 2
sub
pop this 4
push constant 5
pop this 5
push this 2
push constant 2
push this 5
call Math.multiply 2
sub
pop this 6
push constant 0
pop this 7
push constant 0
pop this 8
push constant 0
pop this 9
push constant 0
pop this 10
push constant 0
not
call Screen.setColor 1
pop temp 0
push pointer 0
return
function GameScreen.clear 0
push argument 0
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push constant 0
return
function GameScreen.drawBoard 4
push argument 0
pop pointer 0
push this 3
pop local 0
push this 4
pop local 1
push local 0
pop local 2
push local 1
push this 11
push this 2
call Math.multiply 2
add
pop local 3
push local 0
push local 1
push local 2
push local 3
call Screen.drawLine 4
pop temp 0
push this 3
push this 2
add
pop local 0
push this 4
pop local 1
push local 0
pop local 2
push local 1
push this 11
push this 2
call Math.multiply 2
add
pop local 3
push local 0
push local 1
push local 2
push local 3
call Screen.drawLine 4
pop temp 0
push this 3
push this 2
sub
pop local 0
push this 4
push this 2
add
pop local 1
push local 0
push this 11
push this 2
call Math.multiply 2
add
pop local 2
push local 1
pop local 3
push local 0
push local 1
push local 2
push local 3
call Screen.drawLine 4
pop temp 0
push this 3
push this 2
sub
pop local 0
push local 1
push this 2
add
pop local 1
push local 0
push this 11
push this 2
call Math.multiply 2
add
pop local 2
push local 1
pop local 3
push local 0
push local 1
push local 2
push local 3
call Screen.drawLine 4
pop temp 0
push constant 0
return
function GameScreen.drawCursor 6
push argument 0
pop pointer 0
push argument 1
call Output.printInt 1
pop temp 0
push constant 45
call Output.printChar 1
pop temp 0
push pointer 0
call GameScreen.clearCursor 1
pop temp 0
push argument 1
push this 11
call Math.divide 2
pop local 5
push argument 1
push this 11
push local 5
call Math.multiply 2
sub
pop local 4
push this 3
push this 5
sub
push this 6
sub
push local 4
push this 6
push constant 2
push this 5
call Math.multiply 2
add
call Math.multiply 2
add
pop local 0
push this 4
push this 5
add
push local 5
push this 6
push constant 2
push this 5
call Math.multiply 2
add
call Math.multiply 2
add
pop local 1
push local 0
push this 6
add
pop local 2
push local 1
push this 6
add
pop local 3
push local 0
push local 1
push local 2
push local 3
call Screen.drawRectangle 4
pop temp 0
push local 0
pop this 7
push local 1
pop this 8
push local 2
pop this 9
push local 3
pop this 10
push constant 0
return
function GameScreen.clearCursor 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 7
push this 8
push this 9
push this 10
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
return
function GameScreen.drawCircle 0
push argument 0
pop pointer 0
push constant 0
return
function GameScreen.drawCross 0
push argument 0
pop pointer 0
push constant 0
return
function GameScreen.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
